<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


       <bean id="jedisPoolConfig" class=" redis.clients.jedis.JedisPoolConfig">
              <property name="maxTotal" value="1000"/>
              <property name="maxIdle" value="10"/>
              <property name="minIdle" value="1"/>
              <property name="maxWaitMillis" value="30000"/>
              <property name="testOnBorrow" value="true"/>
              <property name="testOnReturn" value="true"/>
              <property name="testWhileIdle" value="true"/>
       </bean>

       <bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool">
              <constructor-arg ref="jedisPoolConfig"/>
              <constructor-arg>
                     <list>
                           <bean class="redis.clients.jedis.JedisShardInfo">
                                  <constructor-arg index="0" value="${redis.host}"></constructor-arg>
                                  <constructor-arg index="1" value="${redis7001.port}"></constructor-arg>
                                  <constructor-arg index="2" value="${redis7001.name}"></constructor-arg>
                           </bean>
                            <bean class="redis.clients.jedis.JedisShardInfo">
                                   <constructor-arg index="0" value="${redis.host}"></constructor-arg>
                                   <constructor-arg index="1" value="${redis7003.port}"></constructor-arg>
                                   <constructor-arg index="2" value="${redis7002.name}"></constructor-arg>
                            </bean>
                            <bean class="redis.clients.jedis.JedisShardInfo">
                                   <constructor-arg index="0" value="${redis.host}"></constructor-arg>
                                   <constructor-arg index="1" value="${redis7003.port}"></constructor-arg>
                                   <constructor-arg index="2" value="${redis7003.name}"></constructor-arg>
                            </bean>
                     </list>

              </constructor-arg>

       </bean>



</beans>