<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


       <bean id="jedisPoolConfigCluster" class=" redis.clients.jedis.JedisPoolConfig">
              <property name="maxTotal" value="1000"/>
              <property name="maxIdle" value="10"/>
              <property name="minIdle" value="1"/>
              <property name="maxWaitMillis" value="30000"/>
              <property name="testOnBorrow" value="false"/>
              <property name="testOnReturn" value="false"/>
              <property name="testWhileIdle" value="false"/>
       </bean>


       <bean id="redisClusterConfiguration"  class="org.springframework.data.redis.connection.RedisClusterConfiguration">

             <property name="maxRedirects" value="${redis.maxRedirects}"></property>
             <property name="clusterNodes">
                    <set>
                           <bean class="org.springframework.data.redis.connection.RedisNode">
                                 <constructor-arg name="host" value="${redis.host}"></constructor-arg>
                                 <constructor-arg name="port" value="${redis7001.port}"></constructor-arg>
                           </bean>
               <!--             <bean class="org.springframework.data.redis.connection.RedisNode">
                                <constructor-arg name="host" value="${redis.host}"></constructor-arg>
                                <constructor-arg name="port" value="${redis7002.port}"></constructor-arg>
                            </bean>
                            <bean class="org.springframework.data.redis.connection.RedisNode">
                                <constructor-arg name="host" value="${redis.host}"></constructor-arg>
                                <constructor-arg name="port" value="${redis7003.port}"></constructor-arg>
                            </bean>-->
                    </set>

             </property>

       </bean>



      <bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">

          <constructor-arg name="clusterConfig" ref="redisClusterConfiguration"></constructor-arg>
          <constructor-arg name="poolConfig" ref="jedisPoolConfigCluster"></constructor-arg>


      </bean>

    <bean  id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="connectionFactory"></property>
    </bean>







</beans>